body
{
  background-color: white;
}

h1
{
  text-indent: 10%;
}

table.table
{
  outline: 1px solid black;
  border: 2px solid white;
  white-space: nowrap;
  border-collapse: collapse;
}

tr
{
  border: 2px solid white;
  border-left-width: 3px;
  border-right-width: 3px;
}

td,th
{
  border-left: 2px solid white;
  border-right: 2px solid white;
}

/* alternating colors for table rows */
tr.r0
{
  background-color: #F5F5F5;
}
tr.r1
{
  background-color: #D3D3D3;
}

/* fake hypertext links */
a.fake_a
{
  color: blue;
  cursor: pointer;
}
a.fake_a_off
{
  color: gray;
  cursor: pointer;
}

/* for backendgen logs */
td.status0
{
  color: green;
}
td.status3
{
  color: red;
}

#iid_exp
{
  background-color: #D3D3D3;
  padding-left: 3px;
  padding-right: 3px;
  font-family: monospace;
}

