/* http://www.bennadel.com/blog/2758-creating-a-pre-bootstrap-loading-screen-in-angularjs.htm */
div.m-app-loading {
    position: fixed ;
}
div.m-app-loading div.animated-container {  
    bottom: 0px ;
    left: 0px ;
    opacity: 1.0 ;
    position: fixed ;
    right: 0px ;
    top: 0px ;
    z-index: 999999 ;
}

div.m-app-loading div.messaging {
    color: black ;
    font-family: monospace ;
    left: 0px ;
    margin-top: -37px ;
    position: absolute ;
    right: 0px ;
    text-align: center ;
    top: 39% ;
}
div.m-app-loading h1 {
    font-size: 40px ;
    line-height: 45px ;
    margin: 0px 0px 20px 0px ;
}
div.m-app-loading p {
    font-size: 24px ;
    line-height: 20px ;
    margin: 0px 0px 0px 0px ;
}

div.loading-animation {
   left: 0px ;
   top: 47% ;
   position: absolute ;
   right: 0px ;
}

/*http://codepen.io/jmw/pen/NPMLEx*/
.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 2px 1px 0px blue;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  -moz-animation: spin 0.7s linear infinite;
  -webkit-animation: spin 0.7s linear infinite;
  animation: spin 0.7s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}